@model DigiDent.Notification.Infrastructure.EmailTemplates.ActivationEmail

<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
</head>
<body>
<div class="container">
    <p>Dear @Model.PatientFullName,</p>
    <p>Thank you for registering with DigiDent. To activate your account, please click the link below:</p>
    <p><a href="@Model.ActivationLink">Activate account</a></p>
    <p>Best regards,</p>
    <p>DigiDent team.</p>
</div>
</body>
</html>